Maybe because %DE is a valid encoding of a character (`Þ`) while %GH and %JK are not

This can be reproduced even more simply. A value of `%11` will not be encoded at all, and will be sent as is. 

This is still an issue.

CC @gschier 

After some research, it looks like the issue being caused by [this code](https://github.com/getinsomnia/insomnia/blob/3fea57328defb6ada2238bde7b26f1287f824858/packages/insomnia-url/src/querystring.js#L214). Any raw text that matches an already-encoded character is ignored, so `%11` will never be encoded.

Not really sure how to interpret this, but [RFC 3986 Section 2.4](https://tools.ietf.org/html/rfc3986#section-2.4) outlines when to encode or not. I think that if the percent-encoding is invalid, such as the `%jk` above then the `%` must be encoded as it is scheme-specific while `%de` is a valid encoding.

This is still an issue.

@gschier Is there any way to stop this from being marked as stale?

@gschier This hasn't changed. Are we going to go through this every 2 months?

>@gschier This hasn't changed. Are we going to go through this every 2 months?

I guess we are.

Sorry folks! This was incorrectly tagged as a feature request along with other bugs. I'm going back through and cleaning up, sorry for the inconvenience.

Hi,

This behavior is intentional. Any string matching the pattern `/[%([0-9a-fA-F]{2})]/` will be treated as percent-encoded, and Insomnia will skip to **avoid re-encoding them**.

If you need to manually encode these values, please consider doing so explicitly.