MCP Auth Flow: Auth server with path is not being respected

### Expected Behavior

When the authorization_servers includes a url like `https://integrator-3511470.okta.com/oauth2/ausyhb0h8eySyHFoI697`, the metadata url that insomnia should hit is `https://integrator-3511470.okta.com/oauth2/ausyhb0h8eySyHFoI697/.well-known/oauth-authorization-server`

### Actual Behavior

The metadata portion of the url is being injected after the domain, causing insomnia to use `https://integrator-3511470.okta.com/.well-known/oauth-authorization-server/oauth2/ausyhb0h8eySyHFoI697`. For Okta, this hits the default authorization server of the instance instead of the custom authorization server that's specified.

### Reproduction Steps

1. Specify `authorization_servers` that include a path, for example a custom authorization server id in Okta. An example `/.well-known/oauth-protected-resource` response:
```
{
  "resource": "https://some-url.com/events-mcp",
  "authorization_servers": [
    "https://integrator-3511470.okta.com/oauth2/ausyhb0h8eySyHFoI697"
  ],
  "scopes_supported": [
    "openid",
    "profile",
    "mcp.events.read"
  ]
}
```
2. Set up an MCP client in Insomnia that is set to OAuth 2.0 with `MCP Auth Flow` grant type
3. Connect to your endpoint, close the popup that comes up prompting you to enter a code from the browser, look at the events on the right side

You'll see where it tries to access the `/.well-known/oauth-authorization-server` metadata endpoint, it injects that bit of the url between the domain and the subpath. For example:
```
{
	"url": "https://integrator-3511470.okta.com/.well-known/oauth-authorization-server/oauth2/ausyhb0h8eySyHFoI697",
	"method": "GET",
	"headers": {
		"MCP-Protocol-Version": "2025-06-18"
	},
	"body": null
}
```

### Is there an existing issue for this?

- [x] I have searched the [issue tracker](https://www.github.com/Kong/insomnia/issues) for this problem.

### Which sync method do you use?

- [ ] Git sync.
- [ ] Insomnia Cloud sync.
- [x] Local only

### Additional Information

_No response_

### Insomnia Version

12.1.0

### What operating system are you using?

Windows

### Operating System Version

Windows 11 Enterprise: Version 10.0.26100 Build 26100

### Installation method

Download from insomnia

### Last Known Working Insomnia version

_No response_

This is the MCP protocol [Authorization Server Metadata Discovery](https://modelcontextprotocol.io/specification/2025-11-25/basic/authorization#authorization-server-metadata-discovery) standard.

For issuer URLs with path components (e.g., `https://auth.example.com/tenant1`), clients MUST try endpoints in the following priority order:

1. OAuth 2.0 Authorization Server Metadata with path insertion: `https://auth.example.com/.well-known/oauth-authorization-server/tenant1`
2. OpenID Connect Discovery 1.0 with path insertion: `https://auth.example.com/.well-known/openid-configuration/tenant1`
3. OpenID Connect Discovery 1.0 path appending: `https://auth.example.com/tenant1/.well-known/openid-configuration`




From [RFC 8414 Section 3.1](https://datatracker.ietf.org/doc/html/rfc8414#section-3.1)

If the issuer identifier value contains a path component, any terminating "/" MUST be removed before inserting "/.well-known/" and the well-known URI suffix between the host component and the path component.  The client would make the following request when the issuer identifier is "https://example.com/issuer1" and the well-known URI suffix is "oauth-authorization-server" to obtain the metadata, since the issuer identifier contains a path component:

```
 GET /.well-known/oauth-authorization-server/issuer1 HTTP/1.1
 Host: example.com
```

The current behavior to adding `/.well-known/oauth-authorization-server` between hostname and path component is the expected behavior