[Feature Request] Support for OAuth 2 "resource" parameter

# Description
Currently Insomnia only has support for customizing the `scope` parameter for OAuth 2 authentication (under "Advanced Options"). It would be useful to also have support for other OAuth 2 parameters, `resource` in particular.

# Use Case
Microsoft Azure's Active Directory OAuth 2 requires the use of the `resource` parameter for service-to-service access: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-service-to-service#request-an-access-token.

# Alternative / Workaround Bug
I attempted to work around this by manually appending a `resource` query parameter (e.g. `https://login.microsoftonline.com/{{azure.tenant_id}}/oauth2/token?resource=https%3A%2F%2Fmanagement.core.windows.net%2F`), however, this does not seem to work. As an alternative, Insomnia could support merging those parameters instead of overwriting them. It could be argued that overwriting the parameters is actually in violation of [RFC 6749](https://tools.ietf.org/html/rfc6749#section-3.2):
```
The endpoint URI MAY include an "application/x-www-form-urlencoded"
   formatted (per Appendix B) query component ([RFC3986] Section 3.4),
   which MUST be retained when adding additional query parameters.  The
   endpoint URI MUST NOT include a fragment component.
```

I started this work and have created a pull request (#1174) with the changes.