[Question] How does the "OAuth 2.0" dialog work, and how do I diagnose failure?

## Overview
- `Insomnia Version:` 5.7.0.911
- `Operating System:` macOS Sierra, version 10.12.16
- `Summary: ` It's not clear from any documentation I've found—nor from playing with Insomnia itself—how the "OAuth 2.0" authentication dialog works (using the "Authorization Code" grant type).

I have values for all the editable fields, but the "redirect URI" field confuses me. Does my HTTP server need to be listening at that URL? There's a tooltip on the corresponding label:  
> Insomnia will intercept this no matter what, so it can be whatever you want/need

Does that mean that Insomnia will receive the authorization code from the authorization server, but it won't actually follow the redirect URI to deliver that code to the real OAuth2 client that listens at that URL?

Does Insomnia make any use of the "State" value that I provide?

I can't tell if my input may be wrong, or whether Insomnia can't handle my authorization server's response sequence.

## How To Reproduce
1. Populate all the fields in the "OAuth 2.0" authentication dialog.
2. Press the "Fetch Tokens" button.
3. Authenticate with the authorization server in the child Web browser window.
4. Observe that Insomnia gets stuck, with the child Web browser window still showing, but blank.
5. Look for a way to diagnose what happened (e.g. inspect the URL of the final Web page shown, inspect the response body, or other details of the response, or find a log file), but not find anything.
6. Close the child Web browser window.
7. Press the "Fetch Tokens" button again.
8. Observe that the child Web browser window remains blank, and doesn't revisit the authentication Web form that I encountered the first time through. (Perhaps the authorization server already considers me to be authenticated, and is advancing immediately to responding with a redirection and an authorization code.)

## Other Notes

It appears that there's at least one redirection step triggered by my organization's authorization server that Insomnia can't follow. The flow works well enough in the Web browsers I've used (Firefox and Safari).

I had a similar issue to this before. I submitted this PR to fix my issue: https://github.com/getinsomnia/insomnia/pull/396

If you really want to Inspect things you CAN but you'll have to download the source and run Insomnia that way. It isn't hard honestly. It took me about 10 minutes to get going. Most of the time was spent waiting for npm dependencies to download.

Your `redirect_url` SHOULD be set to something that your oauth2 server will accept. The tooltip that says "Insomnia will intercept this no matter what" means that Insomnia will watch the url of the popup window. When your authentication server issues a redirect and if it contains a `code=[code]` query parameter it will read this code and close the window, regardless of where the redirect is actually going. It will then use this code to request a new access token at the token url.

When you run the project in dev mode you'll be able to run Chrome dev tools on the popup window and inspect network traffic and see what the issue is. 

Best of luck. 

Yes, I do have the "REDIRECT URL" field populated with the URL registered for my OAuth client.

Using the latest Insomnia version (5.8.3.1068), the same problem persists—the child window sits there, with a blank page. For what it's worth, the page _does_ have a title, no doubt specific to my company's authentication flow: "SAML 2.0 POST response."

I have exactly the same problem

@seh, I would first suspect certificate issues. the certificate from the server should either be valid or you can open up chrome, navigate to the page and then accept the certificate as a valid one. otherwise insomnia won't load the page and it won't give you an option to accept it.



I don't have Chrome installed. I use Firefox daily, and it has no problem with any certificates presented by the servers involved in this flow.

Hi @seh,

The way the auth window works is that it monitors for redirects and responds if the URL of a redirect matches the following Regular Expression.

```javascript
new RegExp(`${escapeRegex(redirectUri)}.*(code=|error=)`);
```

I'm not sure if that helps you at all but I'll make sure to add some debugging info to the next release.

... That regex essentually looks for a URL that starts with your redirect URL and contains either a `code` or `error` query parameter.

Did you really mean "redirectUri?" Per [RFC 6749 §4.1.1](https://tools.ietf.org/html/rfc6749#section-4.1.1), the query parameter name is "redirect_uri." [Here we can see](https://github.com/golang/oauth2/blob/master/oauth2.go#L132) the library I'm using to construct the URL using the latter value.

Ya, that's just the variable name I'm using. It uses `redirect_uri` [under the hood](https://github.com/getinsomnia/insomnia/blob/develop/app/network/o-auth-2/constants.js#L5).

The function you linked to in that library does not seem like the correct one. After the user logs in via form that Insomnia displays, your server should return a redirect response to the `redirect_url` with `code` and `state` parameters appended. Insomnia will detect this redirect and pull `code` and `state` out of the URL if it can find them.

If your redirect URL is `https://mywebsite.com/oauth`, Insomnia should be receiving a redirect after the user logs in with a URL that looks something like this: `https://mywebsite.com?code=12345&state=something`. 

The step is outlined in the RFC here: https://tools.ietf.org/html/rfc6749#section-4.1.2

Can you verify that your server is generating and returning the correct HTTP redirect? If you could paste an example of a redirect generated by your server, that would help a lot. 




The referenced library function is for my client's construction of the request URL. The server does redirect my client to the URL I supply, together with the "code" and "state" query parameters that you mention. It all works fine in my Web browsers (Firefox and Safari); it just doesn't work with Insomnia.

Are you able to provide an example of a URL containing `code` and `state` that the server redirects to? If I can see an example, I might be able to identify the difference that is causing the problem. 

I bet it's something small because I've testing Insomnia with many OAuth 2.0 APIs like GitHub, Dropbox, and others, and they all seem to work. 

Here's a sample URI that my client receives from the authorization server:
```
/oauth/callback/?state=T6KaJxTPqPMVNnGhQ6JSKYE2YtjxfnOXoAaEfm57sAQ%3D&code=l9gcAaibreBAkwa0cEIP_ZK42DXJHTBdHJUmPGt4PMGRJYdIILo8o_xvni0RveANDVy18vZcZ66mjifTF5ogIZVOe7ygQ9j2aAYo3U76UvKoeGgBpYq0ZAD8QZwbEPgFnJ6vmcbFkGrgWgTYvYjF6Ag6R48c6JWV6x_diCIkYYzBdQdeQqLfa7j9-ufPao6IbqFNO3TJOjMDJXdhxznJYYCRNtcLEWhbx9pe-CPueajHRLy-Nby9ULv4-mYefagYKC9FBJJShKNpDKD89DEHce2Zpo5F1GhS1O3UUp-w3Q_Vz1Mbj0BJCDSXu_rs7a-zgySm1Knikj7ExsP0jZNa7FGTJZopfFbFxjfdQ6rPopZ63axT0V09EvshuSrohDNS81lKNy7MYw7ITWwWxGgkUz54HuLgZeswYO6o5aGY2VNbEiemH_is9KAafgrhDI3kvepGP8MITTP-1xdo8kTaG3f9-s1U8BaykzpAR6rSZ2PJgGBgNY7PTYnQJZf3n8l7Ljl1pyNMnJA753YXYWOdjBbjieijSBHK7cjTwFW1jWgmQQK1TZIyIXtTAfcNGTvdf6kd8K0BNMm1Jbf0rYvU5QGX3DqpiixJewQtfWGermTuk7NK7DT-0Tpp3HXn2xc7Q9heAGq3FsMqW_Hj0IRWGuryU6JvUsQkdcrVEPrrtjzO_Ob5uS8j3411KTsSYDgoM1QKJSr_G5-0a6BwJycoI-mmlq_alJJ3jFDmvOGacZ1_GcCBg7xhyENaapBN5srTWDh-3rNeHXkJ1XPjoMXRzjNj6Iqz6ny_IWji57HYatquLQ5ykYADWt541CX367BV9JfxF8Nj1ySX2InrCo3fA_pqcz2mClzNkKcgMu-PtTcafs1j85OXb2vHXzSTF2_TmU_lsHUgDHRoHuljwDXXV6bB8BoKFqcIjOyrKGx129A1og%3D%3D
```
I'll also format it as a block quote so that it wraps:
> /oauth/callback/?state=T6KaJxTPqPMVNnGhQ6JSKYE2YtjxfnOXoAaEfm57sAQ%3D&code=l9gcAaibreBAkwa0cEIP_ZK42DXJHTBdHJUmPGt4PMGRJYdIILo8o_xvni0RveANDVy18vZcZ66mjifTF5ogIZVOe7ygQ9j2aAYo3U76UvKoeGgBpYq0ZAD8QZwbEPgFnJ6vmcbFkGrgWgTYvYjF6Ag6R48c6JWV6x_diCIkYYzBdQdeQqLfa7j9-ufPao6IbqFNO3TJOjMDJXdhxznJYYCRNtcLEWhbx9pe-CPueajHRLy-Nby9ULv4-mYefagYKC9FBJJShKNpDKD89DEHce2Zpo5F1GhS1O3UUp-w3Q_Vz1Mbj0BJCDSXu_rs7a-zgySm1Knikj7ExsP0jZNa7FGTJZopfFbFxjfdQ6rPopZ63axT0V09EvshuSrohDNS81lKNy7MYw7ITWwWxGgkUz54HuLgZeswYO6o5aGY2VNbEiemH_is9KAafgrhDI3kvepGP8MITTP-1xdo8kTaG3f9-s1U8BaykzpAR6rSZ2PJgGBgNY7PTYnQJZf3n8l7Ljl1pyNMnJA753YXYWOdjBbjieijSBHK7cjTwFW1jWgmQQK1TZIyIXtTAfcNGTvdf6kd8K0BNMm1Jbf0rYvU5QGX3DqpiixJewQtfWGermTuk7NK7DT-0Tpp3HXn2xc7Q9heAGq3FsMqW_Hj0IRWGuryU6JvUsQkdcrVEPrrtjzO_Ob5uS8j3411KTsSYDgoM1QKJSr_G5-0a6BwJycoI-mmlq_alJJ3jFDmvOGacZ1_GcCBg7xhyENaapBN5srTWDh-3rNeHXkJ1XPjoMXRzjNj6Iqz6ny_IWji57HYatquLQ5ykYADWt541CX367BV9JfxF8Nj1ySX2InrCo3fA_pqcz2mClzNkKcgMu-PtTcafs1j85OXb2vHXzSTF2_TmU_lsHUgDHRoHuljwDXXV6bB8BoKFqcIjOyrKGx129A1og%3D%3D


Thanks @seh! 

I see the problem. It's using a relative URL as a redirect, where Insomnia expects the URL to contain `redirect_uri` as a prefix. There's nothing wrong with that, but Insomnia currently does not handle this case. I should be able to add a fix for this in the next release 👍 

Hey, that's great news. Thank you! Let me know when there's a candidate for me to test.

Sure! I'll add that as a To-Do to my Trello card. 

@gschier Can you keep https://github.com/getinsomnia/insomnia/pull/396 in mind?

Keycloak redirects several times to internal pages to gather some user data AND it uses it's own `code` parameter in the url. If you switch to only detecting the `code` again like before it'll break the use case with Keycloak. I know I'm being a bit selfish :-D

@starJammer, I don't _think_ this will affect your stuff, but I'm not familiar with what types of URLs you're redirecting to. If you can give me an example of the chain of URLs used in your app I will make sure it still works for you.



Actually, I just took a look and it turns out that change is unnecessary. Going to revert it.

Hey @seh, I'm heading to bed soon but I created a new release that should let you see enough logs to debug this problem (it turns out my original hunch was incorrect). TravisCI is pretty backed up at the moment, so it might take an hour or two until the binary shows up under the release.

Can you reply back here with anything helpful you find?

Note: The log you want to watch out for will look something like this:

```
[oauth2] Ignoring URL "http://localhost:3000/oauth/". Didn't match /https:\/\/insomnia\.rest.*(code=|error=)/i
```

Thank you. It will probably take me until Thursday this week to run through this test, as I'll be traveling, but I promise to report back on what I find.

I'm having the same problem using Microsoft's OAuth 2.0 endpoints. Where do I find the Insomnia logs on a Mac?

@wardrop. Check out View > Toggle DevTools for logs

I'm running into this issue as well. My OAuth2 server responds with a 301 response with the redirect URI and the code in the query string. 

I believe this problem occurs because the redirect is being followed. This can fail in two ways that I experienced: 

1. The redirect URI redirects to another URL. I used the redirect URI "https://www.getpostman.com/oauth2/callback" which redirects to "https://app.getpostman.com/oauth2/callback". The logs showed this:

> [oauth2] Ignoring URL "https://app.getpostman.com/oauth2/callback?code=7003f6917506aaa9697c47b06ded6644cdfd98181cb489ef70c5ef082e3200e3

1. The hostname does not resolve. The logs showed this:

> [oauth2] Detected redirect http://insomnia/oauth2/callback?code=fc0725d132782e84bcb4f5df4fd0d18b22746127c29e081b2c2ba433eee3f2a1

But nothing happened.

To avoid these issues, I think Insomnia should not automatically follow redirects for this. When it gets the 301 response, it should just extract the code from the Location header. 

Hey @johnrutherford. It looks like the logs you are seeing are from an old version. Can you update to v5.11.7 and try again, then post the updated logs? 

@gschier, I am on v5.11.7.

How embarassing, sorry. Github search couldn't find the string `Detected redirect`.

The second log you posted gets printed after the auth window closes and a redirect is found. Other than the strange `insomnia` hostname, it looks like that one worked. What exactly are you seeing in that case?

The way that Insomnia is implemented right now, redirects are invisible. Since it only listens to window location changes it will only ever see the final URL in the redirect chain. For example, if a form submit redirects to www.postman.com which redirects to app.postman.com, Insomnia will only see app.postman.com because that's the page that ends up being loaded in the window. 

There _does_ look to be another Electron API to detect redirects. Perhaps it could be used in combination with the current implementation. https://github.com/electron/electron/blob/master/docs/api/web-contents.md#event-did-get-redirect-request

Another possible solution to this would be to add a configuration option to the OAuth settings to disable the strict matching of the redirect URI and just look for `code=ABC` instead of `${redirect_url}.*code=`.

No problem.

On the second scenario, nothing happens. The OAuth window is blank and just stays there. The host name does not resolve so the redirect never completes. 

My expectation was that this URL didn't matter at all and the redirect would never actually happen. So I think it would be ideal if Insomnia could detect the redirect and grab the code. This would also be useful in scenarios where the user is testing a local API and doesn't have internet access at the time. 

In addition, I think Insomnia should just look for the code and not try to match the redirect URL. It really doesn't matter what the OAuth2 server is redirecting to. The code is the only important part. 

I totally agree with you that it shouldn't matter. However, there are users like @starJammer who need the more strict URL matching because they multiple URL in their flow that contain a `code=` parameter. 

I think there _is_ a way to achieve both and make both sides happy.

I made a [new issue](https://github.com/getinsomnia/insomnia/issues/619) for some of the improvements that are being discussed here. I'm going to close this one as the original question has been answered.